body {
  padding: 50px 400px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-row{
  margin-bottom: 1rem;
}

#write_info{
  float: right;
}

.btn_group{
  float: right;
  margin-bottom: 20px;
}

.form-control[readonly] {
    background-color: #fff;
}

.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.list-group {
  margin-top: 10px;
}

span{
  display: inline-block;
}

.reply_name{
  width: 10%;
}

.reply_context{
  width: 80%;
}